@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+IN:wght@100..400&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
nav {
	height: 90px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-bottom: black 1px solid;
	position: absolute;
	width: 100%;
	background: white;
	z-index: 999;
}

a {
	text-decoration: none;
	color: black;
}

.logo-container {
	height: 60px;
	color: #000;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

nav a {
	display: flex;
	flex-direction: row;
	color: none;
	text-decoration: none;
}

nav .logo,
.logo-container .logo {
	height: 100%;
	padding: 20px;
}

nav .logo-text,
.logo-container .logo-text {
	color: #b05990;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'raleway';
}

nav ul {
	display: flex;
	gap: 30px;
	margin-right: 25px;
}

nav ul li {
	display: flex;
	align-items: center;
}

nav ul li button {
	appearance: none;
	text-decoration: none;
	color: rgb(255, 255, 255);
	background-color: #8b5276;
	padding: 14px 20px;
	border-radius: 10px;
	font-family: 'Open Sans', sans-serif;
	transition: 0.3s;
}

nav ul li button:hover {
	background-color: #d798a7;
	color: black;
}

.home {
	background-color: white;
	height: 100%;
	position: relative;
	z-index: 1;
}

.home .slogan {
	position: absolute;
	z-index: 1;
	top: 180px;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: 'raleway';
	text-align: center;
	h1 {
		color: #b05990;
		font-size: 48px;
		margin-bottom: 0;
	}
}

.home .student {
	height: 55vh;
	display: flex;
	flex-direction: column;
	position: absolute;
	bottom: 0;
	left: 60px;
	z-index: 1;
}

.home .student img {
	position: absolute;
	height: 100%;
}

.home .student h4 {
	background: #b8e0d2;
	/* fdcf60 - light */
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-weight: 500;
	padding: 15px 20px;
	border-radius: 13px;
}

.home .student .how {
	position: absolute;
	width: 114px;
	left: 129px;
	top: -32px;
}

.home .student .why {
	position: absolute;
	width: 95px;
	bottom: 120px;
	left: -18px;
}

.home .student .who {
	position: absolute;
	width: 110px;
	top: 24px;
	left: 256px;
}

.home .student .best {
	position: absolute;
	width: 128px;
	left: 255px;
	top: 165px;
	text-align: center;
}

.home .student::before {
	content: 'Overwhelmed By Information?';
	position: absolute;
	font-family: 'Roboto';
	font-size: 28px;
	font-weight: 600;
	top: -78px;
	left: 0;
	width: 400px;
	z-index: -1;
}

.home .guide-img {
	height: 45vh;
	display: flex;
	flex-direction: column;
	position: absolute;
	bottom: 0;
	z-index: 1;
	right: 40px;
}

.home .guide-img-txt {
	position: absolute;
	font-family: 'Roboto';
	font-size: 28px;
	font-weight: 600;
	top: 354px;
	right: 44px;
	z-index: -1;
}

.home .arrow-svg {
	position: absolute;
	bottom: 50px;
	left: 383px;
	right: 380px;
}

.home,
.about-us,
.training,
.partners {
	height: 100vh;
}

.about-us {
	box-shadow: 0px -8px 10px 0px rgb(253 253 253);
	position: relative;
	z-index: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 25%;
}

.partners {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.form {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 420px;
	padding: 2rem;
	border: 1px solid #ccc;
	border-radius: 20px;
	background-color: white;
	font-family: 'Open Sans', sans-serif;
}

.form a {
	color: blue;
	text-decoration: underline;
}
.form label {
	margin-top: 10px;
}
input,
textarea {
	padding: 0.75rem;
	border: 1px solid;
	border-radius: 5px;
	font-size: 1rem;
	padding: 10px 15px;
}

.btn {
	padding: 0.75rem;
	background-color: #ffd1dc;
	color: black;
	border: none;
	border-radius: 5px;
	font-size: 1rem;
	margin-top: 10px;
	cursor: pointer;
	transition: background-color 0.3s;
}
.btn:hover {
	background-color: #e49ab0;
}
body {
	background-color: rgba(251, 251, 251, 0.566);
}
.container {
	margin: 2rem auto;
	padding: 2rem;
	text-align: center;
	border: 1px solid #ddd;
	border-radius: 8px;
	background-color: #b8e0d2;
	display: flex;
	justify-content: center;
	align-items: center;
}
.container h1 {
	font-size: 24 px;
	margin-bottom: 1rem;
	color: #333;
	font-family: 'Roboto', sans-serif;
}
.container p {
	font-size: 16px;
	line-height: 1.5;
	color: #666;
	margin-bottom: 1rem;
	font-family: 'Times New Roman';
}
.box {
	display: grid;
	grid-template-columns: repeat(3, 250px);
	gap: 20px;
}
.title {
	font-size: 2.5rem;
	margin-bottom: 1rem;
	color: #333;
	font-family: 'Roboto';
}

.description {
	font-size: 1.2rem;
	line-height: 1.6;
	color: #666;
	margin-bottom: 1rem;
}

.partners .partner-nav {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	margin: 24px;
}

.partners .partner-nav button {
	background-color: hsla(342, 70%, 78%, 0.763);
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	font-family: 'Open Sans', sans-serif;
}

.partners .partner-nav button:hover {
	background-color: #fb93b2;
}

.partners .partner-nav button.active {
	background-color: #b05990;
	color: white;
}

.training {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.training .module-deets {
	position: absolute;
	top: 170px;
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	align-items: center;
	margin: 24px;
	font-family: 'Open Sans', sans-serif;
	img {
		height: 50px;
	}
	button {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: black;
		color: white;
		appearance: none;
		border-radius: 20px;
		padding: 20px;
		gap: 5px;
		font-size: 18px;
	}
}

.training .lesson .questions {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	place-items: center;
}

.training .lesson {
	display: flex;
	flex-direction: column;
	margin: 30px;
	max-width: 350px;
	background-color: #ecc7c7;
	padding: 20px;
	border: 1px solid rgb(123, 123, 123);
	border-radius: 20px;
}

.training .lesson button {
	background-color: #e2a2b6;
}

.training .lesson button:hover {
	background-color: #ff90b1;
}

.training .lesson .questions label {
	padding: 10px 15px;
	width: 80%;
	border: 1px black solid;
	border-radius: 20px;
	margin-bottom: 20px;
	text-align: center;
}

.dashboard {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

form.login {
	display: flex;
	flex-direction: column;
	max-width: 300px;
	padding: 30px;
	border: 1px solid black;
	font-family: 'Open Sans';
	gap: 10px;
	border-radius: 30px;
	background-color: white;
	box-shadow: 0px 0px 20px 8px #d798a7;
	font-weight: bold;
	scale: 1.3;
}

form.login button {
	padding: 10px 20px;
	background-color: rgb(163, 163, 163);
	font-weight: bold;
}
.hiw {
	margin: 10%;
	text-align: center;
	p {
		font-size: 20px;
	}
}

.training .bacche {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 0 30%;
	align-items: flex-end;
}
.training .teacher {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 0 30%;
	align-items: flex-start;
}
.training .girl {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 0 30%;
	align-items: flex-start;
}
.training .boy {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 0 30%;
	align-items: flex-end;
}
